:root {
  --backgrond: #000;
  --text-color: #fff;
  --purple: #8257e5;
  --border: #29292e;
  --border-menu-mobile: #a8a8b3;
  --text-color-menu-mobile: #e1e1e6;

  font-size: 62.5%;
}

body {
  background-color: var(--backgrond);
  color: var(--text-color);
  height: 100vh;

  font-family: "Manrope", sans-serif;
  font-size: 1.4rem;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#container {
  height: 100vh;

  display: grid;
  grid-template-areas: 
    "leftAside header rigthAside"
    "undefined1 main undefined2"
  ;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: 10rem 1fr;
  
}

#container img#blur1 {
  position: absolute;

  bottom: 0px;

  z-index: -9999;
}

#container img#blur2 {
  position: absolute;

  right: 0px;

  z-index: -9999;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#leftAside {
  grid-area: leftAside;
  
  display: flex;
  align-items: center;
  justify-content: right;
}

#logoMenu {
  width: 4.5rem;
  height: 5rem;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
header {
  grid-area: header;
  font-weight: 400;

  margin: auto;
}

nav a {
  color: var(--text-color);

  margin: 0 2rem;

  letter-spacing: 0.02em;
  text-decoration: none;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#rigthAside {
  grid-area: rigthAside;

  display: flex;
  align-items: center;
}

#rigthAside button {
  background-color: transparent;
  color: var(--text-color);

  padding: 1rem 4rem;

  font-size: 1.4rem;

  border: 1px solid var(--purple);
  border-radius: 6px;

  transition: 0.2s;
}
#rigthAside button:hover {
  background-color: var(--purple);
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
main {
  grid-area: main;

  padding-top: 10%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

h1 {
  font-size: 8rem;
  letter-spacing: -0.03em;

  text-align: center;
}

h2#txt-modified {
  color: var(--backgrond);

  font-size: 8rem;
  letter-spacing: -0.03em;

  text-align: center;
  text-shadow: -1px -1px 0 var(--purple), 1px -1px 0 var(--purple), -1px 1px 0 var(--purple), 1px 1px 0 var(--purple);
}

img#copo-coffee {
  height: 51rem;
}
