:root {
  --backgrond: #000;
  --text-color: #fff;
  --purple: #8257e5;
  --border: #29292e;
  --border-menu-mobile: #a8a8b3;
  --text-color-menu-mobile: #e1e1e6;

  font-size: 62.5%;
}

body {
  background-color: var(--backgrond);
  color: var(--text-color);
  height: 100vh;

  font-family: "Manrope", sans-serif;
  font-size: 1.4rem;

  display: grid;
  
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#container {
  height: 100vh;

}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
header {
  margin-top: 5rem;

  font-weight: 400;

}

header #logo-menu {
  margin-right: 15rem;
}

header a {
  color: var(--text-color);
  margin: auto 2rem;

  letter-spacing: 0.02em;

  text-decoration: none;
}

header button {
  background-color: transparent;
  color: var(--text-color);

  width: 200px;
  padding: 1rem;
  margin-left: 15rem;

  font-size: 1.4rem;

  border: 1px solid #8257e5;
  border-radius: 6px;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#container div {
  width: 90rem;
}

h1 {
  font-size: 8rem;
  letter-spacing: -0.03em;

  text-align: center;
}

h1#txt-modified {
  color: var(--backgrond);

  font-size: 8rem;
  letter-spacing: -0.03em;

  text-shadow: -1px -1px 0 var(--purple), 1px -1px 0 var(--purple), -1px 1px 0 var(--purple), 1px 1px 0 var(--purple);
}

img#copo-coffee {
  width: 100%;
  height: 51rem;
}

/* CENTRALIZANDO O HEADER COM A DIV */
